#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.video-screen {
  min-height: 100vh;
  min-width: 100vw;
  display: none;
}

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

img {
  height: 20px;
  position: absolute;
  top: calc(50vh - 20px);
  left: calc(50vw - 20px);
}
.setting-icon {
  height: 24px;
  width: 24px;
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
}
.setting-icon:hover {
  cursor: pointer;
  z-index: 9;
}
path {
  fill: #bac4e2;
}

.camera-options {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: black;
  border: 1px solid #5abce4;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  transition: all 0.2s ease-in;
}

.camera-option {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-option:hover {
  cursor: pointer;
  background-color: #3b4668;
}
