@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.diagnostic-table {
  width: 100%;
  border-top: 1px solid black;
  @include sm {
    position: fixed;
    top: 0;
    background-color: #282f45;
    height: 100%;
  }
  &-row {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    height: 56px;
  }
  &-header {
    background-color: #2d3855;
    height: 56px;
    border-bottom: 1px solid black;
    align-items: center;
    padding-left: 10px;
    display: none;
    @include sm {
      display: flex;
    }
  }
}
