body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  -webkit-transition: background-color 200ms ease-in-out 0ms,
    color 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms;
}

*::-webkit-scrollbar{
  width: 0 !important;
}