.command-setter-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  height: 58px;
  border-bottom: 0.03938rem solid #282f45;
  align-items: center;
  margin: 0 auto;
}
