$green: #2ec495;
$blue: #20a0ff;
$purple: #a961e4;
$orange: #f89973;
$red: #ea719d;
$yellow: #f9c36e;
$silver: #bac4e2;
$Border: #677194;
$steel_two: #3b4668;
$steel-one: #282f45;
$module: #2d3855;

$header: $module;
$level-ok: $green;
$level-warning: $orange;
$level-error: $red;
$level-stale: $Border;
$hover: $steel_two;
$messages-bg: $steel-one;
