.back-arrow {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
    background-color: #3d4665;
  }
}
