.board {
  width: 90%;
  height: auto;
  background-color: #2d3855;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
