.topic {
  padding: 10px 0;
  border-bottom: 1px solid #3b4668;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-image {
    max-height: 24px;
    max-width: 24px;
  }
  &:last-child {
    border: none;
  }
  &-name {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 600;
    line-height: 26px;
  }
}
