.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pill-container {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: auto;
}
.pill {
  border-radius: 30px;
  width: auto;
  height: auto;
  background-color: #657197;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 10px;
}
span {
  font-size: 12px;
  color: white;
}

.radio-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.radio {
  display: none;
}

.radio-container > input {
  margin-top: 5px;
  margin-right: 15px;
}

.radio:focus {
  color: #66d3fe;
}

.radio-label {
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background-color: #282f45;
  border: 2px solid #3b4668;
  position: relative;
}
.radio-label:hover {
  cursor: pointer;
}
.checkmark {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 6px;
  right: 6px;
  opacity: 0;
  transition: 200ms ease;
}

.radio-label input:checked + .checkmark {
  opacity: 1;
}

.label {
  font-size: 16px;
  color: white;
  margin-right: 10px;
}

.label:hover {
  cursor: pointer;
}

.advance-input {
  margin-right: 2rem;
  margin-left: 2rem;
}
