.mosaic-window-toolbar {
    background-color: #282F45 !important;
}

.mosaic-window-toolbar:hover {
    background: #282F45 !important;
}

.mosaic-window-title {
    font-weight: 500 !important;
    color: #BAC4E2 !important;
}

.mosaic-blueprint-theme {
    background-color: #1C1E2D !important;
}