#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.gear {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.gear:hover {
  background-color: #3d4665;
}
canvas {
  height: 500px;
  width: auto;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.check {
  background-color: #18d2ff;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.check > svg {
  fill: #2a3955;
}
.check:hover {
  transform: scale(1.09);
}
