@import "../../styles/colors.scss";

.icon-button {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 25px;
  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
}
