* {
  box-sizing: border-box;
  overflow-x: hidden;
  transition: 200ms ease-in-out;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* opacity: 1; */
  }
  100% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    /* opacity: 0; */
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* opacity: 1; */
  }
  100% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    /* opacity: 0; */
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
