openapi: 3.0.0
info:
    title: Formant API
    description: Welcome to Formant's developer documentation. This page will tell you about the common API endpoints used for making custom experiences in Formant.io.
    version: 1.37.3
servers:
    - url: https://api.formant.io/v1
paths:
    /queries/stream-current-value:
        post:
            description: Query the most recent values of devices.
            operationId: StreamCurrentValueController.query
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ScopeFilter"
                description: ScopeFilter
                required: false
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/StreamCurrentValueListResponse"
            security:
                - bearerAuth: []
            summary: Query the most recent values of one or many devices
            tags:
                - Data Access
    /admin/command-templates/:
        get:
            description: |-
                List commands that you can send to your devices.
            operationId: CommandTemplateController.list
            responses:
                "200":
                content:
                    application/json:
                    schema:
                        $ref: "#/components/schemas/CommandTemplateListResponse"
            security:
                - bearerAuth: []
            summary: List the commands available
            tags:
                - Commands
    /admin/commands:
        post:
            description: |-
                Create a command that will be received by a device when its next online
            operationId: CommandController.post
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Command"
                description: Command
                required: true
            responses:
                "201":
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Command"
            security:
                - bearerAuth: []
            summary: Send a command to a device
            tags:
                - Commands
    /admin/auth/login:
        post:
            description: Login with your user credentials or service account credentials to get an auth token that can be used to access the other api endpoints.
            operationId: AuthController.login
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/LoginRequest"
                description: LoginRequest
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/LoginResult"
            summary: Login and get an auth bearer token
            tags:
                - Authentication
components:
    schemas:
        CommandParameter:
            example:
                scrubberTime: 2000-01-23T04:56:07.000+00:00
                value: value
            properties:
                value:
                    maxLength: 1024
                    type: string
                scrubberTime:
                    format: date-time
                    type: string
            required:
                - scrubberTime
            type: object
        Command:
            example:
                commandTemplateId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                organizationId: 12326c7f-0b8a-43b9-b35d-6489e6daee91
                deviceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                command: my_command
                parameter:
                    scrubberTime: 2000-01-23T04:56:07.000+00:00
                    value: "hello!"
            properties:
                organizationId:
                    format: uuid
                    type: string
                deviceId:
                    format: uuid
                    type: string
                commandTemplateId:
                    format: uuid
                    type: string
                command:
                    type: string
                parameter:
                    $ref: "#/components/schemas/CommandParameter"
            required:
                - command
                - deviceId
                - parameter
            type: object
        CommandTemplateListResponse:
            example:
                items:
                    - organizationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parameterMeta:
                          key: parameterMeta
                      createdAt: 2000-01-23T04:56:07.000+00:00
                      name: name
                      parameterEnabled: true
                      description: description
                      id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parameterValue: parameterValue
                      command: command
                      enabled: true
                      tags:
                          key: tags
                      updatedAt: 2000-01-23T04:56:07.000+00:00
                    - organizationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parameterMeta:
                          key: parameterMeta
                      createdAt: 2000-01-23T04:56:07.000+00:00
                      name: name
                      parameterEnabled: true
                      description: description
                      id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      parameterValue: parameterValue
                      command: command
                      enabled: true
                      tags:
                          key: tags
                      updatedAt: 2000-01-23T04:56:07.000+00:00
        CommandTemplate:
            example:
                organizationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                parameterMeta:
                    key: parameterMeta
                createdAt: 2000-01-23T04:56:07.000+00:00
                name: name
                parameterEnabled: true
                description: description
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                parameterValue: parameterValue
                command: command
                enabled: true
                tags:
                    key: tags
                updatedAt: 2000-01-23T04:56:07.000+00:00
            properties:
                organizationId:
                    format: uuid
                    type: string
                name:
                    maxLength: 32
                    type: string
                command:
                    type: string
                tags:
                    additionalProperties:
                        type: string
                    type: object
                description:
                    maxLength: 1024
                    type: string
                parameterEnabled:
                    type: boolean
                parameterValue:
                    maxLength: 1024
                    type: string
                parameterMeta:
                    additionalProperties:
                        type: string
                    type: object
                enabled:
                    type: boolean
                id:
                    format: uuid
                    type: string
                createdAt:
                    format: date-time
                    type: string
                updatedAt:
                    format: date-time
                    type: string
            required:
                - command
                - name
                - parameterEnabled
                - tags
            type: object
        LoginRequest:
            example:
                email: me@mycompany.com
                password: "12345"
            properties:
                email:
                    format: email
                    type: string
                password:
                    type: string
            required:
                - email
                - password
            type: object

        LoginResult:
            example:
                challenge:
                    session: session
                    type: new-password-required
                    userId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    email: email
                authentication:
                    organizationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    isSuperuser: true
                    accessToken: accessToken
                    userId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    refreshToken: refreshToken
            properties:
                authentication:
                    $ref: "#/components/schemas/Authentication"
                challenge:
                    $ref: "#/components/schemas/Challenge"
            required:
                - authentication
                - challenge
            type: object
        ScopeFilter:
            example:
                deviceIds:
                    - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    - 0357997f-0b8a-43b9-b35d-123451261212
                types:
                    - bitset
                names:
                    - my_stream_name
                notNames:
                    - unwanted_stream_name
            properties:
                deviceIds:
                    items:
                        format: uuid
                        type: string
                    type: array
                names:
                    items:
                        type: string
                    type: array
                types:
                    items:
                        enum:
                            - bitset
                            - localization
                            - point cloud
                            - location
                            - file
                            - health
                            - transform tree
                            - battery
                            - video
                            - numeric set
                            - json
                            - image
                            - numeric
                            - text
                        type: string
                    type: array
                notNames:
                    items:
                        type: string
                    type: array
            type: object
        StreamCurrentValueListResponse:
            example:
                items:
                    - name: name
                      type: bitset
                      deviceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      tags:
                          key: tags
                      currentValue: {}
                    - name: name
                      type: bitset
                      deviceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                      tags:
                          key: tags
                      currentValue: {}
            properties:
                items:
                    items:
                        $ref: "#/components/schemas/Metadata"
                    type: array
            required:
                - items
            type: object
    securitySchemes:
        bearerAuth:
            bearerFormat: JWT
            scheme: bearer
            type: http
